# Ignore build directories
/build/
/bin/
/obj/
/CMakeFiles/

# Ignore compiled object files
*.o
*.a
*.so
*.d

# Ignore compiled executables
*.out
*.exe
*.exe~
*~


# Ignore editor-specific files (e.g., vim, emacs, etc.)
*~
.*.swp
.DS_Store
.vscode/
.idea/

# Ignore temporary files
*.log
*.tmp
*.bak
